html,
body {
  min-height: 100%;
}
body {
  padding: 0px;
  margin: 0px;
  min-width: 360px;
  color:#e8e6e3;
  background-color: #181a1b;
}
*{
  font-family: "arial";
  scrollbar-color: #2a2c2e #1c1e1f;
}
.header {
  height: 100px;
  overflow: none;
  
}

.header .logo p {
  font-weight: 700;
  margin-left: 5px;
  padding: 25px;
}

#logo
{
  width: 100px;
  height: 100px;
 background-color: #181a1b;
}

.navbar{
  background-color: #181a1b;
}

.navbar > ul {
  font-weight: 700;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.navbar > ul > li {
  float: left;
}

.navbar > ul > li> a:hover {
  background-color: rgb(30, 53, 15);
border-bottom: 3px solid rgb(85, 146, 41);
}
.navbar > ul > li > a {
  
  display: block;
  text-align: center;
  text-decoration: none;
  height: 97px;
    
  line-height: 100px;
  width: 150px;
}

.bigimage {
  background-color: #d8d8d8;
  height: 350px;
  overflow: hidden;
  background-image: url("../images/b0c35e953a380d736b292259b259c98d.jpg");
  background-size: cover;
}

.mainpage, .sidebar {
  min-height: 250px;
  /* border: 1px solid red; */
}

.fakeimage {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.footer {
  position: fixed;
  width: 100%;
  height: 45px;
  bottom: 0px;
  padding-left: 10px;
}

.content {
  height: auto;
  margin-bottom: 100px;
}

.card {
  padding: 10px;
  margin: 5px;
  background-color: rgb(29, 29, 31);
  border-bottom: 3px solid rgb(85, 146, 41);
}

.card > .card_title {
  font-size: 20px;
  font-weight: 550;
}

.card > p {
  color: rgb(195, 190, 182);
}

.roundedbutton {
  border-radius: 15px;
  width: 150px;
  height: 50px;
  border: none;
  margin: 0 auto;
}

/* Default bg colors */

.bg-lightgreen {
  background-color: #EBF7E3;
}

.bg-midgreen {
  background-color: rgb(85, 146, 41);
}

.bg-green {
  background-color: #66B032;
}

.bg-darkgreen {
  background-color: #375F1B;
}

.bg-darkestgreen {
  background-color: #1B3409;
}

.bg-white {
  background-color: white;
}
/* Default font colors */
.fnt-white {
  color: white;
}

.fnt-black {
  color: rgb(232, 230, 227);
}

/* default font families */
.verdana {
  font-family: "Verdana";
}

.arial {
  font-family: "Arial";
}






.col-2.logo
{
  background-color: #181a1b;
}