.oplfoto {
	height:400px;
	width:400px;
	overflow:hidden;
	border-radius:20%;
        text-align:center;
}
.extralaag{
        margin-bottom:80px;
}
.middentekst{ 
        position:absolute;
        font-size:40px;
        color:yellow;
        text-align:center;
        padding-top:100px;
}